<img class="datosPersonales" src="/images/photo.jpg">
<p class="datosPersonales">
	<h3>Medina Marcos A</h3>
	<p><strong>Tecnico Superior en Informatica aplicada</strong></p>
	<p>Desarrollador de aplicaciones web</p>
	<p>Profesor de nivel terciario</p>
<p>